
.user-line[data-v-4c853d07]{display:-moz-box;display:-ms-flexbox;display:flex;-moz-box-align:center;-ms-flex-align:center;align-items:center;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:200px;height:43px;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center
}
.usericon[data-v-4c853d07]{width:20px;height:20px;border-radius:100%
}
.user-name[data-v-4c853d07]{font-size:12px;color:#222;height:17px;width:80px;padding-left:10px;line-height:17px
}
.user-tag[data-v-4c853d07]{height:12.5px;width:87px
}
.user-info[data-v-4c853d07]{display:-moz-box;display:-ms-flexbox;display:flex;-moz-box-align:center;-ms-flex-align:center;align-items:center;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:170px;height:20px
}
.item-wrap[data-v-4c853d07]{border-radius:4px;width:200px;height:330px;margin-right:10px;background-color:#fff;margin-bottom:10px
}
.item-img[data-v-4c853d07]{width:200px;height:200px;border-top-right-radius:4px;border-top-left-radius:4px;background-color:#ddd;background-size:cover
}
.item-info[data-v-4c853d07]{width:170px;margin:10px 15px;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:0;padding-bottom:14px;border-bottom:.5px solid #e6e6e6
}
.item-title[data-v-4c853d07]{font-size:13px;color:#222;height:40px;width:170px;line-height:20px;overflow:hidden
}
.price-line[data-v-4c853d07]{width:170px;-moz-box-align:center;-ms-flex-align:center;align-items:center;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:5px
}
.price[data-v-4c853d07],.price-line[data-v-4c853d07]{display:-moz-box;display:-ms-flexbox;display:flex;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-direction:row;flex-direction:row
}
.price-unit[data-v-4c853d07]{font-size:10px;color:#f44;height:14px;line-height:22px
}
.price-value[data-v-4c853d07]{font-size:16px;color:#f44;height:18px;line-height:18px
}
.want-num[data-v-4c853d07]{font-size:10px;color:#888;height:14px;line-height:14px;max-width:90px;text-align:right;overflow:hidden;text-overflow:ellipsis
}