
.banner-wrap[data-v-3fb25ee8]{width:100%;height:354px;background-color:#ffd84d;margin-bottom:30px
}
.main-wrap[data-v-3fb25ee8]{height:100%;width:1040px;margin:0 auto;position:relative;background-image:url(//img.alicdn.com/tfs/TB1ij9qnPDpK1RjSZFrXXa78VXa-1040-354.png)
}