body,html{
    background: url("/images/login-background.jpg") no-repeat;
   /* background-size: cover;
    background-repeat: no-repeat;

    padding: 0;
    margin: 0;*/
    height: 100%;
    width:100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}


.hr1{
    background:  linear-gradient(to  left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.74),rgba(255, 255, 255, 0));
    width: 80%;
    height: 2px;
   margin: 0 auto;
    position: relative;
    top:45px;
}
.hr2{
    background:  linear-gradient(to  left, rgba(105, 105, 105, 0.11), rgba(54, 54, 54, 0.61), rgba(105, 105, 105, 0.1));
    width: 80%;
    height: 2px;
    margin: 0 auto;
    position: relative;
    top:46px;
}
.logo {
    width: 130px;
    height: 110px;
    background: rgba(241, 241, 241, 0.15);
    text-align: center;
    border: 8px solid #bb7f35;
    margin: 80px 0 0 60px;
    float: left;
}
.title{
    width: 301px;
    height: 70px;
    /* background: rgba(255, 255, 255, 0.39); */
    position: absolute;
    margin-top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
p1{
    font-size: 46px;
    letter-spacing: 3px;
    font-family: "隶书";
    font-weight:800;
    color: #f3f6f5;
}
p2{
    font-size: 12px;
    color: #e6e6e6;
}
.input{
    width: 290px;
    height: 140px;
    position: absolute;
    margin-top: 230px;
    transform: translateX(-50%);
    left: 50%;
    color:darkgray;
}
.input em {
    font-size: 25px;
    text-shadow: 1px -1px 1px #fff;
    color: rgba(12, 11, 11, 0.81);
    font-weight: 600;


}
.input .input1{
    width: 180px;
    height: 27px;
    margin-left: 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.41);
    font-size: 18px;
}
.input .input2{
    width: 180px;
    height: 27px;
    margin-left: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 18px;
}
.id{
    width: 360px;
    height:50px;
    margin-top: 10px;
}
.pass{
    width:360px;
    height:50px;
    margin-top:20px;
}
.button{
    width: 125px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(241, 222, 222, 0.75), rgb(41, 48, 49), rgb(127, 197, 210));
    color: #fff;
}
#loginbtn{
    top: 5px;
    right: 0px;
}
