<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/modele.css">
    <link rel="stylesheet" href="../css/person.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <script src="../js/vendor/jquery-3.3.1.min.js"></script>
    <script src="../js/vendor/public.js"></script>
    <!-- <script src="person.js"></script> -->

</head>
<body onload="checkCookie()">
<div id="header">
    <div id="logo">
        <img src="../img/logo.png" width="100px">
    </div>
    <div class="name" id="title_name">校园易平台</div>
    <div id="min_title">——让生活变得更美好</div>
    <div id="hearder_right">
        <div id="zhuce">注册</div>
        <div id="denglu">登录</div>
        <div id="user"><a href="../src/private_infomation.html">我的</a></div>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount"></label>
            <div class="input-group">
                <div class="input-group-addon"><i class="icon_search"></i></div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入关键字"
                       required="required">
            </div>
        </div>
        <button type="submit" class="btn btn-danger">确 定</button>
    </form>
</div>


<div class="pro_wrap user_pro_wrap  auto">
    <h2 class="weizhi_title">位置：<a href="/">首页</a> &gt; 用户中心</h2>
</div>

<div class="auto">


    <aside class="left_aside">

        <ul class="left_aside_ul">

            <li><a  ><span class="user_icon01">用户中心</span></a></li>
            <li><a  ><span class="user_icon02">发布</span></a></li>
            <li><a href="#"><span class="user_icon03">我的收藏</span></a></li>
            <li><a href="gouwuche.html"><span class="user_icon04">我的购物车</span></a></li>
            <li><a href="new_person.html"><span class="user_icon05">我的店铺</span></a></li>
            <li><a href="#"><span class="user_icon06">我的订单</span></a></li>
            <li><a href="#"><span class="user_icon07">我的钱包</span></a></li>
            <li><a href="#"><span class="user_icon08">消息中心</span></a></li>
            <li><a ><span class="user_icon09">个人设置</span></a></li>
        </ul>
    </aside>


    <div class="user_right right user_center01 ">

        <div class="user_home">
            <!-- ngIf: cominfo.headImghav -->
            <!-- ngIf: !cominfo.headImghav -->
            <div class="user_home_img left ng-scope" ng-if="!cominfo.headImghav"><img id="user_small_img" src="../img/user_name_img.jpg" width="100px" height="100px">
            </div><!-- end ngIf: !cominfo.headImghav -->
            <div class="user_home_xinxi left">
                <div class="user_name">欢迎！<span class="ng-binding" id="user_center_id">未登录</span></div>
                <div class="user_biaoqian"><!-- ngIf: cominfo.designer!=1 --><span ng-if="cominfo.designer!=1" class="ng-scope">注册用户</span>
                    <!-- end ngIf: cominfo.designer!=1 --><!-- ngIf: cominfo.designer==1 --></div>
                <div class="user_jfcz">我的积分：<span class="ng-binding">0积分</span>我的余额：<span
                        class="ng-binding">￥0.00</span></div>
                <div class="user_chongzhi right "><a href="/member/jifenchongzhi">我要充值</a></div>
            </div>

        </div>
        <div class="user_shoucang">最近收藏</div>
        <!--收藏产品列表结构-->
    </div>

    <div class="user_fabu_right right user_center02 none">
        <div class="user_fabu_wrap">
            <ul class="user_fabu_ul">
                <li class="fabu_active_li"><a href="/member/upload">上传</a></li>
                <li><a href="/member/underreview">审核中<span class="red ng-binding">（0）</span></a></li>
                <li><a href="/member/passno">未通过<span class="red ng-binding">（0）</span></a></li>
                <li><a href="/member/published" class="ng-binding">已发布（0）</a></li>
            </ul>
        </div>
        <style>

        </style>
        <div class="user_fabu_content">
            <div class="user_fabu_shangchuan " style="background:none; overflow:hidden; height:auto">

                <div id="uploader" class="clearfix">

                    <div class="goods_info" id="goods_info">
                        <div class="goods_title">
                            <p class="">请完善上传商品的信息</p>
                        </div>
                        <table class="goods_table">
                            <caption>宝贝属性:</caption>
                            <tbody>
                            <tr>
                                <td>名字：</td>
                                <td><input id="goods_name" class="form-control" type="text" name="" value=""
                                           placeholder="添加商品名字"></td>
                            </tr>
                            <tr>
                                <td>描述：</td>
                                <td><textarea id="goods_detail" class="form-control" placeholder="商品描述"></textarea></td>
                            </tr>
                            <tr>
                                <td>宝贝类型：</td>
                                <td><select class="form-control" id="goods_type">
                                    <option>食物</option>
                                    <option>衣物</option>
                                    <option>数码</option>
                                    <option>其他</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td>宝贝数量：</td>
                                <td><input type="text" id="goods_num" class="form-control" name="" placeholder="商品数量">
                                </td>
                            </tr>
                            <tr>
                                <td>价格：</td>
                                <td><input type="text" id="goods_price" class="form-control" name="" value=""
                                           placeholder="添加商品价格"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="button" class="btn btn-lg goods_submit" value="上传商品"
                                           onclick="submit_goods_info()" id="submit_goods_info"></td>
                            </tr>
                            </tbody>
                        </table>

                        <script>
                            

                            function submit_goods_info() {
                                console.log(object_data.result);
                                var goods_user_info = object_data.result;
                                var goods_author = goods_user_info.userName;
                                var goods_authorId = goods_user_info.userId;
                                var goods_type = document.getElementById('goods_type').value;
                                var goods_detail = document.getElementById('goods_detail').value;
                                var goods_price = document.getElementById('goods_price').value;
                                var goods_name = document.getElementById('goods_name').value;
                                var goods_num = document.getElementById('goods_num').value;
                                console.log(goods_img);
                                if(document.getElementById('new_goods_img')){
                                var goods_img = document.getElementById('new_goods_img').src;   
                                console.log(111);
                                console.log(goods_img);
                                console.log(222)
                                }
                                
                                if (goods_type == "" || goods_num == "" || goods_detail == "" || goods_price == "" || goods_name == "" || goods_img == undefined) {
                                    alert("請完善商品屬性信息");
                                    return;
                                }



                                var cur_time = new Date();
                                var year = cur_time.getYear();
                                var day = cur_time.getDate();
                                var month = cur_time.getMonth() + 1;
                                var str_time = cur_time;

                                var JSON_data = {
                                    goodsImg:goods_img,
                                    goodsType: goods_type,
                                    goodsName: goods_name,
                                    goodsDetail: goods_detail,
                                    goodsPrice: goods_price,
                                    goodsNum: goods_num,
                                    goodsAuthor: goods_author,
                                    goodsAuthorId: goods_authorId,
                                    goodsStatus: '1',
                                    goodsCheck: '0',
                                    goodsTime: str_time

                                }

                                $.ajax({
                                    url: 'http://binguo.online/goods/addgoods',
                                    type: 'POST',
                                    dataType: 'json',
                                    data: JSON_data,
                                    contentType: "application/x-www-form-urlencoded",
                                    success: function (data) {
                                        alert("商品上传成功！");
                                        console.log(data);
                                    }
                                });

                            }

                        </script>


                    </div>


                    <div class="placeholder" id="dndArea-left">

                        <div id="picker-left" class="multi-input-container forbidleft webuploader-container">
                            <div class="webuploader-pick goods_submit">
                                <a>+ 添加商品图片</a>

                                <label for="img_file1" class="pic_hidden">
                                    <input id="img_file1" type="file" name="" onchange="add_goods_img()">

                                </label>
                            </div>
                            <p>支持jpgp、jpg、png、psd、ai、cdr、mmap、xmmap...等格式</p>
                            <div class="que-num"></div>
                        </div>
                    </div>


                    <div class="font-plus" style="float:left">+</div>


                </div>
                <div class="user_fabu_zhuyi" style="clear:both">
                    注意事项1：<br>
                    1、所上传的作品需为图片链接，尽量不要太大<br>
                    2、made in chinese GZCC
                </div>
            </div>
        </div>
    </div>

    <style>
        .goods_info {
            float: left;
            width: 540px;
            height: 500px;
            background: rgba(255, 119, 22, 0.19);
        }

        input {
            width: 284px !important;
        }
    </style>
    <div class="user_right right  user_center09 none">

        <div class="mytitle_twozero_wrap myjilu_twozero_wrap">
            <div class="mytitle_twozero_content user_designer_home_list">
                <div class="mytitle_twozero">
                    <ul class="mytitle_twozero_ul">
                        <li id="basic_info" class="mytitle_twozero_liactive"><a>基本资料</a></li>
                         
                        <li id="security_set"><a>安全设置</a></li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="user_designer_ziliao_wrap">
            <div class="user_designer_ziliao_left left">
                <form class="ng-pristine ng-valid">
                    <table class="user_table">
                        <tbody>
                        <caption>您填写的信息有利于平台和其它用户识别您</caption>
                        <tr class="user_designer_ziliao_td">
                            <td>账号ID：</td>
                            <td><span id="user_id">未登录</span>（已绑定）</td>
                        </tr>
                        <tr class="user_designer_ziliao_td">
                            <td> 用 户 名：</td>
                            <td><input id="user_name" type="text"
                                       class="user_designer_ziliao_input ng-pristine ng-untouched ng-valid ng-not-empty form-control"
                                       ng-model="username"></td>
                        </tr>
                        <tr class="user_designer_ziliao_td">
                            <td>性 &nbsp;&nbsp;&nbsp; 别：</td>
                            <td>
                                <ul>
                                    <li id="sex_man" value="">男士&nbsp;&nbsp;<span>♂</span></li>
                                    <li id="sex_woman" value="">女士&nbsp;&nbsp;♀</li>
                                </ul>
                            </td>
                        </tr>
                        
                        <tr class="user_designer_ziliao_td">
                            <td>年 &nbsp;&nbsp; 龄：</td>
                            <td>
                                <select class="form-control" id="user_age">
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option selected>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                </select></td>
                        </tr>
                        <tr class="user_designer_ziliao_td">
                            <td>手机号码：</td>
                            <td><input id="user_iphone" type="text"
                                       class="user_designer_ziliao_input ng-pristine ng-untouched ng-valid ng-not-empty form-control"
                                       ng-model="username" placeholder="绑定您的手机号" value=""></td>
                        </tr>
                        <tr class="user_designer_ziliao_td">
                            <td>社交账号：</td>
                            <td><input type="text" id="user_QQ" placeholder="QQ号"
                                       class="user_designer_ziliao_input ng-pristine ng-untouched ng-valid ng-not-empty form-control"
                                       ng-model="username"></td>
                        </tr>
                        <tr class="user_designer_ziliao_td">
                            <td>学号：</td>
                            <td><span id="user_Number"></span></td>
                        </tr>
                        <tr>
                            <td class="user_designer_ziliao_td"></td>
                            <td class="user_designer_ziliao_shejiao_td">
                                <input id="save_basic" type="button" class="user_designer_ziliao_btn" value="保存"
                                       ng-click="basicsubFun()">
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div class="security user_designer_aqsz_haoma" style="display: none">
                        <span class="user_designer_aqsz_haoma_span">登录密码：</span>

                        <div class="jiebang_content" id="jiebang_hidden2" ng-show="editpwdshow==1">
                            <div class="jiebang_div">
                                <div class="bianji_tishi">输入原密码</div>
                                <div style="position:relative;">
                                    <div>
                                        <input type="password" id="newPwd"
                                               class="jiebang_next_input ng-pristine ng-untouched ng-valid ng-empty form-control"
                                               placeholder="输入6-20位字符密码" ng-model="oldpwd">
                                    </div>
                                </div>
                            </div>
                            <div class="jiebang_div">
                                <div class="bianji_tishi">设置新密码</div>
                                <div style="position:relative;">
                                    <div>
                                        <input type="password" id="oldPwd"
                                               class="jiebang_next_input ng-pristine ng-untouched ng-valid ng-empty form-control"
                                               placeholder="输入6-20位字符密码" ng-model="newpwd">
                                    </div>
                                </div>
                            </div>
                            <div class="jiebang_div">
                                <a ng-click="editpwdsubmitFun()" onclick="security_fuc()">确定</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="user_designer_ziliao_right left" id="change_pic">
                <div class="user_designer_ziliao_touxiang_img">
                    <img ng-show="!headImghav" id="head_img" src="../img/user_name_img.jpg" width="220" height="220" class="headimg">
                </div>
                <div class="user_designer_ziliao_xiugai_touxiang" id="designerUploadera">
                    <div class="left" id="dndArea-a">
                        <div class="left webuploader-container" id="picker-a">
                            <div id="head_pic" class="webuploader-pick" style="padding: 0">
                                <a>修改头像</a>

                                <label for="img_file" class="pic_hidden">
                                <input onchange="save_user_pic()" id="img_file" type="file" name="">

                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
    <style>
        .dndArea-left_img{
    position: absolute;
    width: 300px;
    height: 290px;
    display: block;
    top: 0;
    border:1px solid #ddd;
        }
    </style>
<script>
     var img_url = "";
     var goods_img_url = "";
     function add_goods_img() {
        var file = document.getElementById('img_file1').files[0];
        var formdata = new FormData();
        var srcs = "";
        formdata.append("files",file);
        if(file.size<2*1024*1024){
            $.ajax({
                url:'http://binguo.online/goods/addgoodsimg',
                type:'POST',
                data:formdata,
                contentType: false,
                processData: false,
                success:function (datas) {
                    console.log(datas.responseText);
                },
                error:function (err) {
                    console.log(err.responseText);
                    img_url = err.responseText;
                  
                   var new_goods_img = document.createElement("img");
                   new_goods_img.src = img_url;
                   new_goods_img.id = "new_goods_img";
                   
                   document.getElementById('dndArea-left').appendChild(new_goods_img);
                   new_goods_img.classList.add("dndArea-left_img");
                    
                }
            })
            }else if (file.size>2*1024*1024) {
            alert("上传的图片太大");
        }

    };
     function save_user_pic() {
      
        var file = document.getElementById('img_file').files[0];
        var formdata = new FormData();
        formdata.append("files",file);
        if(file.size<2*1024*1024){
            $.ajax({
                url:'http://binguo.online/users/adduserimg',
                type:'POST',
                data:formdata,
                contentType: false,
                processData: false,
                success:function (datas) {
                    console.log(datas.responseText);
                    
                     
                },
                error:function (err) {
                    console.log(err.responseText);
                    img_url = err.responseText;
                    $("#head_img").attr("src",img_url);
                    $("#user_small_img").attr("src",img_url);
                     
                }
            })
            }else if (file.size<2*1024*1024) {
            alert("上传的图片太大");
        }                           
    };

</script>

  
</div>
<div class="design">
    <img src="../img/bg3.jpg" alt="">
</div>
<div ng-include="'/footer_baozhang.html'" class="ng-scope">
    <div class="baozhang_wrap baozhang_wrap_fbfbfb ng-scope">
        <div class="baozhang_content auto">
            <div class="baozhang_div">
                <img src="../img/支付.png">
                <h2>安全支付</h2>
                <p>支持支付宝微信网银支付</p>
            </div>
            <div class="baozhang_div">
                <img src="../img/精品.png">
                <h2>至臻精品</h2>
                <p>顶级设计师创作至臻精品</p>
            </div>
            <div class="baozhang_div">
                <img src="../img/客服.png">
                <h2>客服支持</h2>
                <p>强大的客服团队为您服务</p>
            </div>
            <div class="baozhang_div baozhang_lastdiv">
                <img src="../img/服务.png">
                <h2>服务至上</h2>
                <p>真诚、诚信、用心服务</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>


<div class="footing">
    <div class="f1">
                <span class="footin">
                    <a href="#">平台简介&nbsp &nbsp&nbsp &nbsp</a>
                    <a href="#">问题反馈&nbsp &nbsp&nbsp &nbsp</a>
                    <a href="#">联系我们&nbsp &nbsp&nbsp &nbsp</a>
                    <a href="#">我要开店&nbsp &nbsp&nbsp &nbsp</a>
                    <a href="#">加入我们 </a>
                </span>
        <div class="p">校园易平台 @ 信息学院软一般网页爱好者</div>
    </div>
</div>


<div id="top_fixed" class="scroll_wrap">
    <div class="scroll_content auto">
        <div class="scroll_logo"><a class="totop" href="/"><img src="../img/logo.png"></a>
            <span>校园分享平台</span></div>
        <form class="form-inline scroll_wrap_group">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount"></label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="icon_search"></i></div>
                    <input type="text" class="scroll_wrap_group_input" class="form-control" placeholder="请输入关键字"
                           required="required">
                </div>
            </div>
            <button type="submit" class="btn btn-danger scroll_wrap_group_button">确 定</button>
        </form>
        <div class="clear"></div>
    </div>
</div>
<script>
    function change_sex_man() {
        $('#sex_man').attr("value", "男");
        $('#sex_man').css('border', '1.7px #46adfe solid');
        $('#sex_man').css('color', '#46adfe');
        $('#sex_woman').css('border', '1px #999999 solid');
        $('#sex_woman').css('color', '#333');
        $('#sex_woman').attr("value", "");
    }

    function change_sex_woman() {
        $('#sex_man').attr("value", "");
        $('#sex_woman').attr("value", "女");
        $('#sex_man').css('border', '1px #999999 solid');
        $('#sex_man').css('color', '#333');
        $('#sex_woman').css('border', '1.7px #fd4b72 solid');
        $('#sex_woman').css('color', '#fd4b72');
    }

    $('#sex_man').click(change_sex_man);
    $('#sex_woman').click(change_sex_woman);
    $('#basic_info').click(function () {
        $('.security').hide();
        $('.user_table').show();
        $('#change_pic').show();
    });
    $('#security_set').click(function () {
        $('.user_table').hide();
        $('.security').show();
        $('#change_pic').hide();
    })

    function getQueryByName(url, name) {
        var reg = new RegExp('[?&]' + name + '=([^&#]+)');
        var query = url.match(reg);
        return query ? query[1] : null;
    }

    function save_basic() {
        console.log("保存用户基本信息");
        var change_name = document.getElementById('user_name').value;
        var change_age = document.getElementById("user_age").value;
        var change_man_sex = document.getElementById("sex_man").getAttribute("value");
        var change_woman_sex = document.getElementById("sex_woman").getAttribute("value");
        var sex_value = "";
        if (change_man_sex == "男") {
            sex_value = "男";
        } else if (change_woman_sex == '女') {
            sex_value = "女";
        }

        var user_iphone = document.getElementById('user_iphone').value;
        var user_QQ = document.getElementById('user_QQ').value;
        
        var json_data_basic = {
            userId: location_userid,
            userName: change_name,
            userAge: change_age,
            userPhone: user_iphone,
            userQQ: user_QQ,
            userSex: sex_value,
            userImg:img_url
        };
        $.ajax({
            url: 'http://binguo.online/users/change',
            type: 'POST',
            dataType: 'json',
            data: json_data_basic,
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                console.log(data);
                alert("保存成功");
            }
        });
    }


    $('#save_basic').click(save_basic);


    var object_data = new Object();


    function to_render(data) {
        console.log(data);
        console.log(555);
        data = data.result;
        $('#user_id').text(data.userId);
        $('#user_name').attr("value", data.userName);
        $('#brithday').attr("value", data.userAge);
        $('#user_iphone').attr("value", data.userPhone);
        $('#user_QQ').attr("value", data.userQQ);
        $("#user_Number").text(data.userNumber);


        if(data.userImg != undefined){
            console.log(data.userImg);
            $("#head_img").attr("src",data.userImg);
            $("#user_small_img").attr("src",data.userImg);
        }

        if (data.userSex == "男") {
            change_sex_man();
        } else if (data.userSex == "女") {
            change_sex_woman();
        }
        $('#user_center_id').text(data.userId);
    }
    var location_userid = "";
    $(document).ready(function () {
        var userId_value = getQueryByName(window.location.href, 'userId');
        location_userid = userId_value;

        if(!userId_value){
            userId_value = getCookie("userId");
        }
        console.log(userId_value);
        var json_data = {
            userId: userId_value
        }
        $.ajax({
            url: "http://binguo.online/users/check",
            type: 'GET',
            dataType: 'json',
            data: json_data,
            success: function (data) {
                console.log(data);
                object_data = data;
                if (data.status == 0) {
                    console.log("查询成功");
                    to_render(data);
                }
                else {
                    alert("请先登录");
                    window.location.href = "index.html";
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    })

    function security_fuc() {
        var pwd = document.getElementById('newPwd').value;
        var oldPwd = object_data.result.userPwd;
        var newpwd = document.getElementById('oldPwd').value;
        if (newpwd == '') {
            alert("请输入值");
            return;
        }
        if (oldPwd != pwd) {
            $("#newpwd").attr('placeholder', "密码输入错误!!");
            alert('原密码错误');
            return;
        } else {

            var json_data_basic = {
                userId: object_data.result.userId,
                userPwd: newpwd
            }
            $.ajax({
                url: 'http://binguo.online/users/change',
                type: 'POST',
                dataType: 'json',
                data: json_data_basic,
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {
                    console.log(data);
                }
            });
            alert("保存成功");
        }

    }

    $(document).ready(function () {
        //用户中心--
        document.getElementsByClassName('left_aside_ul')[0].children[0].classList.add('class_js');
        document.getElementsByClassName('user_icon01')[0].classList.add('class_foucus');

        $('.user_icon09').parent().parent().click(function () {

            $('.user_center01').css('display', 'none');
            $('.user_center09').css('display', 'block');
            $('.user_center02').css('display', 'none');
        });
        $('.user_icon02').parent().parent().click(function () {

            $('.user_center01').css('display', 'none');
            $('.user_center02').css('display', 'block');
            $('.user_center09').css('display', 'none');
        })
    })
    $(document).ready(function () {
        $(document).scroll(function () {
            if ($(document).scrollTop() > 200) {

                $('#top_fixed').css("display", "block");
            }
            else {
                $('#top_fixed').css("display", "none");
            }
        })
    })

 

</script>

</body>
</html>